In [24]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split 
from sklearn import metrics

In [25]:
import numpy as np
import matplotlib as plt
data=pd.read_csv('PB3_train.csv',sep=',')
data.columns= ['HEIGHT','AGE','WEIGHT','LABEL']
data

     HEIGHT   AGE  WEIGHT  LABEL
0     147.0  17.0    43.0    1.0
1     147.0  18.0    42.0    0.0
2     147.0  18.0    43.0    1.0
3     147.0  19.0    42.0    0.0
4     147.0  19.0    43.0    1.0
5     148.0  17.0    42.0    0.0
6     148.0  17.0    43.0    1.0
7     148.0  18.0    42.0    0.0
8     148.0  18.0    43.0    1.0
9     148.0  19.0    42.0    0.0
10    148.0  19.0    43.0    1.0
11    149.0  17.0    42.0    0.0
12    149.0  17.0    43.0    1.0
13    149.0  18.0    42.0    0.0
14    149.0  18.0    43.0    1.0
15    149.0  19.0    42.0    0.0
16    149.0  19.0    43.0    1.0
17    147.0  17.0    45.0    1.0
18    147.0  18.0    46.0    0.0
19    147.0  19.0    45.0    1.0
20    147.0  19.0    46.0    0.0
21    148.0  17.0    45.0    1.0
22    148.0  17.0    46.0    0.0
23    148.0  18.0    45.0    1.0
24    148.0  18.0    46.0    0.0
25    148.0  19.0    45.0    1.0
26    148.0  19.0    46.0    0.0
27    149.0  17.0    45.0    1.0
28    149.0  18.0    45.0    1.0
29    149.0  18.0    46.0    0.0
..      ...   ...     ...    ...
93    151.0  21.0    43.0    1.0
94    151.0  22.0    42.0    0.0
95    151.0  22.0    43.0    1.0
96    151.0  23.0    42.0    0.0
97    152.0  21.0    42.0    0.0
98    152.0  21.0    43.0    1.0
99    152.0  22.0    43.0    1.0
100   152.0  23.0    42.0    0.0
101   152.0  23.0    43.0    1.0
102   153.0  21.0    42.0    0.0
103   153.0  21.0    43.0    1.0
104   153.0  22.0    42.0    0.0
105   153.0  22.0    43.0    1.0
106   153.0  23.0    42.0    0.0
107   151.0  21.0    45.0    1.0
108   151.0  21.0    46.0    0.0
109   151.0  22.0    46.0    0.0
110   151.0  23.0    45.0    1.0
111   151.0  23.0    46.0    0.0
112   152.0  21.0    45.0    1.0
113   152.0  22.0    45.0    1.0
114   152.0  22.0    46.0    0.0
115   152.0  23.0    45.0    1.0
116   152.0  23.0    46.0    0.0
117   153.0  21.0    45.0    1.0
118   153.0  21.0    46.0    0.0
119   153.0  22.0    45.0    1.0
120   153.0  22.0    46.0    0.0
121   153.0  23.0    45.0    1.0
122   153.0  23.0    46.0    0.0

[123 rows x 4 columns]

In [26]:
feature_cols = ['HEIGHT', 'AGE', 'WEIGHT']
x = data[feature_cols]
y = data.LABEL

In [27]:
clf = DecisionTreeClassifier(criterion='gini')
clf=clf.fit(x,y)

In [28]:
import pandas as pd
import numpy as np
import matplotlib as plt
test_data=pd.read_csv('PB3_test.csv',sep=',',usecols=[0,1,2])
test_data.columns= ['HEIGHT','AGE','WEIGHT']
test_data

    HEIGHT   AGE  WEIGHT
0    153.0  17.0    45.0
1    152.0  22.0    42.0
2    153.0  23.0    43.0
3    152.0  21.0    46.0
4    153.0  19.0    43.0
5    149.0  17.0    46.0
6    149.0  21.0    46.0
7    151.0  17.0    43.0
8    151.0  17.0    42.0
9    153.0  18.0    46.0
10   151.0  22.0    45.0
11   152.0  18.0    46.0
12   153.0  19.0    45.0
13   147.0  18.0    45.0
14   151.0  17.0    45.0
15   148.0  21.0    46.0
16   147.0  23.0    45.0
17   147.0  17.0    46.0
18   147.0  22.0    46.0

In [29]:
y_original=pd.read_csv('PB3_test.csv',sep=',',usecols=[3])
y_original.columns=['LABEL']
print('Original values on PB3_test.csv',y_original)

Original values on PB3_test.csv     LABEL
0     1.0
1     0.0
2     1.0
3     0.0
4     1.0
5     0.0
6     0.0
7     1.0
8     0.0
9     0.0
10    1.0
11    0.0
12    1.0
13    1.0
14    1.0
15    0.0
16    1.0
17    0.0
18    0.0

In [30]:
y_pred = clf.predict(test_data)
print('Predicted values on PB3_test.csv',y_pred)

Predicted values on PB3_test.csv [1. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1. 0. 1. 1. 1. 0. 1. 0. 0.]

In [31]:
print("Accuracy:",metrics.accuracy_score(y_original, y_pred)*100)

Accuracy: 100.0